 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am dependable, consistent, team player with a desire to excel for myself and my employer in my current and past work experience.   I am currently seeking an entry level position in a well established firm or institution where I can utilize my professional experience in addition to the educational successes I continue to obtain, in order to develop and utilize my studies in the workplace.  I never utter the words “that’s not my job” and am eager to learn new roles and skills.</p>
                </div>
                <div class="col-lg-4">
                    <p>It is the norm for most offices to undergo software/hardware changes every so often and with my background, I bring to the table the ability to troubleshoot tech issues when things go awry in an office.  I studied Android Development at General Assembly, a course built with Google Developers.  I created multiple apps throughout my course of study in the last few years which solidifies my knowledge of data entry and most software platforms and/or hardware used in any administrative or office setting.   I have shown skill in programming, creating databases, web communication and user experience design not only limited to Android.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/ECarrasco91/ECarrasco91.github.io/raw/master/assets/Ezequiel-Carrasco-Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>